################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ConsoleSandbag/bin/Debug
/ConsoleSandbag/obj/Debug
/vkisha.utils/obj/Debug
